{% extends "sharethetrail/pages/page.html" %}
{% load static wagtailcore_tags wagtailimages_tags wagtailsettings_tags %}

{% block body_content %}
<div class="main-raised d-flex bg-transparent border-none shadow-none mb-lg-4">
    <div class="container px-0 pt-0">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="card card-raised card-form-vertical m-0">
                    <div class="card-body pb-4">
                        <h2 class="h2 text-small-caps text-info">{{ page.form_title }}</h2>
                        {% if form.processed is True %}
                            <div class="text-success d-flex flex-row align-items-center mb-3">
                                <i class="material-icons m-1">done</i>
                                <h5 class="m-1">{{ page.success_message }}</h5>
                            </div>
                        {% endif %}
                        {% block form %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
