coderedcms == 0.*
django-cors-headers
django-environ
django-encrypted-model-fields
django-health-check
django-modelcluster
django_sendmail_backend
django-ses
django-storages
boto3
psycopg2
psutil
wagtail == 2.*
# django-iam-dbauth
