boto3 == 1.*
coderedcms == 1.*
coderedcms-bootstrap4 == 1.*
django-cors-headers == 3.*
django-environ == 0.9.*
django-encrypted-model-fields == 0.6.*
django-health-check == 3.*
django-modelcluster == 6.*
django_sendmail_backend == 0.1.*
django-ses == 3.*
django-storages == 1.*
psycopg2 == 2.*
psutil == 5.*
wagtail == 3.*
# django-iam-dbauth
