{% load static wagtailcore_tags theme_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% if campaign_site.title %}{{ campaign_site.title }}{% else %}Campaign Site{% endif %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {% include "wagtailseo/meta.html" %}
        <link rel="icon" type="image/x-icon" href="{% block fav_icon %}{% static 'icon/default.ico' %}{% endblock %}" />
        {% theme_css_path campaign_site.theme as css_path %}
        <link rel="stylesheet" type="text/css" href="{% static css_path %}" />
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
        <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
        <script src="{% static 'js/lib/jquery.min.js' %}"></script>
        <script src="{% static 'js/lib/popper.min.js' %}"></script>
        <script src="{% static 'js/lib/bootstrap-material-design.min.js' %}"></script>
        <script src="{% static 'js/lib/share-the-trail-kit.min.js' %}"></script>
        {% block extra_css %}{% endblock %}
        {% include "sharethetrail/includes/analytics/aws_cw_rum_header.html" %}
    </head>
    <body>
        {% include "sharethetrail/includes/analytics/google_script.html" %}
        {% block body %}{% endblock %}
    </body>
</html>
