{% load static wagtailcore_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}Campaign Site{% endblock %}</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/x-icon" href="/static/media/sm-icon-3.ico">
        <link rel="stylesheet" href="/static/css/nucleo-icons.css">
        <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/material-kit-pro.css">
        <link rel="stylesheet" type="text/css" href="{% static '/static/css/sharethetrail.css' %}">
        <script src="/static/js/popper.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/material-kit-pro.min.js" type="text/javascript"></script>
        {% block extra_css %}{% endblock %}
    </head>
    <body class="min-vh-100">
        {% block body %}{% endblock %}
    </body>
</html>
