{% load static wagtailcore_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}Campaign Site{% endblock %}</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/x-icon" href="{% static 'media/sm-icon-3.ico' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/sharethetrail-kit.min.css' %}" />
        <script src="{% static 'js/core/jquery.min.js' %}"></script>
        <script src="{% static 'js/core/popper.min.js' %}"></script>
        <script src="{% static 'js/core/bootstrap-material-design.min.js' %}"></script>
        <script src="{% static 'js/material-kit.min.js' %}"></script>
        <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
        {% block extra_css %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
