<div class="d-flex flex-row flex-gap-column-1 align-items-center justify-content-center">
    {% if campaign_site.campaign.twitter_url is not None %}
    <a class="p-2 {{ icon_class }}" href="{{ campaign_site.campaign.twitter_url }}" target="_blank">
        <i class="fab fa-twitter"></i>
    </a>
    {% endif %}
    {% if campaign_site.campaign.facebook_url is not None %}
    <a class="p-2 {{ icon_class }}" href="{{ campaign_site.campaign.facebook_url }}" target="_blank">
        <i class="fab fa-facebook"></i>
    </a>
    {% endif %}
    {% if campaign_site.campaign.instagram_url is not None %}
    <a class="p-2 {{ icon_class }}" href="{{ campaign_site.campaign.instagram_url }}" target="_blank">
        <i class="fab fa-instagram"></i>
    </a>
    {% endif %}
    {% if campaign_site.campaign.youtube_url is not None %}
    <a class="p-2 {{ icon_class }}" href="{{ campaign_site.campaign.youtube_url }}" target="_blank">
        <i class="fab fa-youtube"></i>
    </a>
    {% endif %}
    {% if campaign_site.campaign.vimeo_url is not None %}
    <a class="p-2 {{ icon_class }}" href="{{ campaign_site.campaign.vimeo_url }}" target="_blank">
        <i class="fab fa-vimeo"></i>
    </a>
    {% endif %}
</div>