<nav class="navbar navbar-expand-lg sticky-top shadow-none m-0 py-3 px-4 px-lg-5 rounded-0 bg-primary">
    <div class="navbar-brand">
        {% if campaign_site.top_nav_logo_svg %}
        <a class="" href="/">
            {{ campaign_site.top_nav_logo_svg|safe }}
        </a>
        {% endif %}
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#stt-navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="stt-navbar-collapse" class="d-lg-flex flex-grow-1 collapse min m-0 mt-3 mt-lg-0">
        <ul class="navbar-nav flex-grow-1 align-self-end justify-content-center">
            {% for link in campaign_site.top_nav_links %}
            <li class="nav-item mx-5 mx-lg-3 my-2 my-lg-0">
                <a class="nav-link p-0 text-transform-none text-small-caps letter-spacing-md" role="button" href="{{ link.href }}" {% if link.is_external_link is True %}target="_blank"{% endif %}>
                    <span class="h3">{{ link.title }}</span>
                </a>
            </li>
            {% endfor %}
        </ul>
        <ul class="navbar-nav flex-lg-row-reverse">
            {% if campaign_site.campaign.donation_url is not None %}
            <li class="nav-item flex-grow-1 justify-content-center mx-5 mx-lg-2 my-2 ">
                <a class="nav-link btn btn-lg btn-info" role="button" href="{{ campaign_site.campaign.donation_url }}" target="_blank">Donate</a>
            </li>
            {% endif %}
            <li class="nav-item flex-grow-1 justify-content-center mx-5 mx-lg-2 my-2 ">
                {% include 'sharethetrail/includes/nav_social_links.html' with icon_class="text-white" %}
            </li>
        </ul>
    </div>
</nav>