{% load wagtailcore_tags wagtailimages_tags %}

<div class="card card-profile card-wide-md mb-0">
    <div class="card-header card-header-image">
        {% image value.image height-800 as image %}
        <img class="img" src="{{ image.url }}" />
        <div class="colored-shadow" style="background-image: url('{{ image.url }}'); opacity: 1;"></div>
        <div class="colored-shadow colored-shadow-big" style="background-image: url('{{ image.url }}'); opacity: 1;"></div>
    </div>
    <div class="card-body ">
        <h3 class="card-title text-primary mb-0">{{ campaign_site.candidate.full_name }}</h3>
        {% if value.show_position is True %}
        <h6 class="card-category text-default mb-0 mt-1">{{ campaign_site.election_position.heading }}</h6>
        <h6 class="card-title text-default mb-0 mt-1">{{ campaign_site.election_position.subheading }}</h6>
        {% endif %}
        <div class="card-description mt-4 align-self-start">{{ value.statement }}</div>
    </div>
</div>