{% extends "sharethetrail/blocks/cards/grid_card_base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block card_content %}
<div class="rotating-card-container m-0">
    <div class="card card-rotate">
        {% image value.front_image fill-600x600 as front_image %}
        <div class="front front-background" style="background-image: url('{{ front_image.url }}');">
            <div class="card-body p-4">
                <div class="card-title d-flex flex-column flex-grow-1 justify-content-center">
                    <h3 class="h2 font-weight-bold text-small-caps letter-spacing-small">{{ value.title }}</h3>
                </div>
                <div class="footer text-center">
                    <div class="stats text-center">
                        <div class="btn btn-just-icon btn-fill btn-round" style="background-color: {{ value.color }}">
                            <i class="material-icons">refresh</i>
                            <div class="ripple-container"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if value.back_image is not None %}
        {% image value.back_image fill-600x600 as back_image %}
        <div class="back back-background" style="background-image: url('{{ back_image.url }}');">
        {% else %}
        <div class="back back-background" style="background-color: {{ value.color }}">
        {% endif %}
            <div class="card-body p-4">
                <div class="card-title h2 text-light-emphasis text-left text-small-caps letter-spacing-small mb-4">{{ value.title }}</div>
                <div class="card-description d-flex flex-column flex-grow-1 text-light text-left justify-content-center">{{ value.statement }}</div>
                {% if value.summary %}
                <div class="card-description lead text-light-emphasis text-left mt-4">{{ value.summary }}</div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
