{% extends "sharethetrail/web_page.html" %}

{% block body_content %}
<div class="mb-2" style="height: 25vh; background-repeat: repeat-x; background-size: cover; background-image: url('/static/media/img/home-hero_3_2.jpg');" loading="lazy"></div>
<div class="bg-success mx-2 my-4" style="height: 25vh; border-radius: 0.5rem;"></div>
<div class="bg-light mx-2 my-4" style="height: 75vh; border-radius: 0.5rem;"></div>
<div class="bg-danger mx-2 my-4" style="height: 25vh; border-radius: 0.5rem;"></div>
<div class="bg-dark mx-2 my-4" style="height: 25vh; border-radius: 0.5rem;"></div>
<div class="bg-warning mx-2 my-4" style="height: 25vh; border-radius: 0.5rem;"></div>
<div class="bg-info mx-2 my-4" style="height: 50vh; border-radius: 0.5rem;"></div>
{% endblock %}