{% extends "../base.html" %}
{% load static wagtailcore_tags wagtailimages_tags wagtailsettings_tags %}

{% block body %}
<div class="d-flex flex-column min-vh-100 bg-primary">
    {% include 'sharethetrail/includes/top_navigation.html' %}
    {% if page.cover_image is not None %}
    {% image page.cover_image height-400 as cover_image %}
    <div class="page-header" style="height: 40vh; background: url({{ cover_image.url }}) no-repeat center; background-size: cover;" data-parallax="true"></div>
    {% endif %}
    <main class="main main-raised bg-secondary">
        {% block body_content %}{% endblock %}
    </main>
    {% include 'sharethetrail/includes/footer.html' %}
</div>
{% endblock %}
